# Ignorar arquivos de configuração de ambiente
.env

# Ignorar diretórios de dependências
node_modules/
vendor/

# Ignorar arquivos de build
dist/
build/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar logs
*.log

# Ignorar arquivos de IDEs
.idea/
.vscode/
*.iml
