<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Ola</h1>

    <form method="POST">
        <label for="">Altura:</label>
        <input type="text" name="altura" id="">
        <label for="">Peso:</label>
        <input type="text" name="peso" id="">

        <button type="submit">CALCULAR IMC</button>
    </form>
    <% if (typeof pesoFinal !=='undefined' ) { %>
        <h3>Seu IMC é <%= pesoFinal %>
        </h3>
        <% } %>
</body>

</html>